@charset "EUC-KR";



*{
	margin:0;
	padding:0;
}


.head{
	position:fixed;
	top:0px;
	width:100%;
	min-width:800px;
	height:140px;
	z-index:6;
	
}

.head .topbar{
	position:absolute;
	width:100%;
	height:30px;
	background:#333;
	z-index:5;
}
.head .whitebar{
	position:absolute;
	top:30px;
	width:100%;
	height:80px;
	background:white;
	z-index:4;
}

.head .menubar{
	position:relative;
	width:1100px;
	height:200px;
	margin:0 auto;
	z-index:6;
}

.head .menubar .logobox{
	position:relative;
	display:inline-block;
	width:140px;
	height:140px;
	background:#1c1c1c url("../img/h1_vista.png") no-repeat;
	background-position:center center;
	
}

.head .menubar .menu1{
	position:absolute;
	display:inline-block;
	width:950px;
	height:30px;
	top:0;
	
}

.head .menubar .menu1 .language{
	position:relative;
	display:inline-block;
	width:300px;
}

.head .menubar .menu1 ul li{
	display:inline-block;
	vertical-align:middle;
	list-style:none;
	color:#777;	
}

.head .menubar .menu1 .login_menu{
	position:absolute;
	right:0;
	display:inline-block;
}

.head .menubar .menu1 .login_menu li{
	position:relative;
	display:inline-block;
	letter-spacing:-0.06em;
	font-size:12px;
	margin:0 2px;
}

.head .menubar .menu1 .login_menu li:after{
	position:absolute;
	right:-6px;
	top:2px;
	content:'';
	height:15px;
	width:1px;
	background:#777;
	
}


.head .menubar .menu2{
	position:relative;
	display:inline-block;
	bottom:30px;
	width:800px;
	height:80px;
	
}
.head .menubar .menu2>ul{
	position:relative;
	display:table;
	margin:0 auto;
	height:100%;
	background:white;
}

.head .menubar .menu2>ul>li{
	position:relative;
	display:table-cell;
	color:#777;
	font-size:16px;
	letter-spacing:-0.08em;
	margin:0 9px;
	width:110px;
	text-align:center;
	vertical-align:middle;
}

.head .menubar .menu2>ul>li>div{
	position:absolute;
	background:white;
	top:80px;
	left:-30px;
	width:170px;
	border:1px solid;
	display:none;
}

.head .menubar .menu2>ul>li>div>ul{
	margin:10px;
}

.head .menubar .menu2>ul>li>div>ul>li{
	list-style:none;
	padding:10px;
	color:#777;
	font-weight:normal;
	
}

.head .menubar .menu2>ul>li>div>ul>li:hover{
	color:#1c1c1c;
	font-weight:bold;
	
}

.select:after{
	position:absolute;
	background:#1c1c1c;
	top:75px;
	left:0px;
	content:'';
	height:5px;
	width:100%;
	display:unset;
}

.last:after{
	display:none;
}

.head .menubar .reservation{
	position:relative;
	display:inline-block;
	bottom:88px;
	width:140px;
	height:80px;
	background:#446176;
	color:white;
	font-size:20px;
	
}

.head .menubar .reservation p{
	text-align:center;
	position:relative;
	top:25px;
	
}

.content{
	position:relative;
	width:100%;
	height:780px;
	background:pink url("../img/visual_welcome.jpg");
	margin-top:-30px;
	z-index:3;
	
	
}

.content2{
	position:relative;
	width:100%;
	height:1400px;
	background:pink url("../img/bg_mainBrand.jpg");
	margin-top:-30px;
	z-index:3;
	
	
}

.content2 h2{
	color:white;
	margin:0 auto;
	text-align:center;
	font-size:60px;
}

.content2 .figure1{
	position:relative;
	width:200px;
	height:300px;
	background:yellow;
	margin:0 auto;
	z-index:4;
	
	
}

.content2 .figure2{
	position:relative;
	width:200px;
	height:300px;
	background:blue;
	margin:0 auto;
	z-index:4;
	
	
}







