@charset "EUC-KR";


.screen{
	position:relative;
	display:inline-block;
	width:1920px;
	height:1080px;
	
}
.screen .information{
	position:absolute;
	display:inline-block;
	top:50px;
	left:100px;
	height:100px;
	width:500px;
	background:green;
}

.screen .gamepanel{
	position:relative;
	display:inline-block;
	left:100px;
	top:200px;
	height:800px;
	width:500px;
	background:green;
	
}

.screen .gamepanel .block{
	position:absolute;
	left:30px;
	top:300px;
	height:30px;
	width:30px;
	background:red;
	
	
}

.screen .gamepanel .block .innerblock{
	position:absolute;
	top:2.5px;
	left:2.5px;
	height:25px;
	width:25px;
	background:black;
}


.screen .nextblock{
	position:relative;
	display:inline-block;
	height:200px;
	width:200px;
	background:red;
	bottom:400px;
	left:150px;
}

.screen .infoNext{
	position:absolute;
	display:inline-block;
	height:100px;
	width:200px;
	background:green;
	top:250px;
}
